<a href="https://colab.research.google.com/github/bhargavbandloju/2303A51747-ADM/blob/main/LabTest01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
file_path = "/content/student-dataset.csv"

In [ ]:
df = pd.read_csv(file_path)

In [ ]:
df['ethnic.group'].fillna("Unknown", inplace=True)

<ipython-input-5-a986f2cdf232>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ethnic.group'].fillna("Unknown", inplace=True)
<ipython-input-5-a986f2cdf232>:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['ethnic.group'].fillna("Unknown", inplace=True)

In [ ]:
df['gender'] = df['gender'].map({'M': 1, 'F': 0})

In [ ]:
if 'School Type' in df.columns:
    df = pd.get_dummies(df, columns=['School Type'], prefix='SchoolType')

In [ ]:
math_mean = df['math.grade'].mean()

In [ ]:
math_median = df['math.grade'].median()

In [ ]:
math_std = df['math.grade'].std()

In [ ]:
school_type_counts = df['SchoolType'].value_counts() if 'SchoolType' in df.columns else "No 'School Type' column found."

In [ ]:
print("Mean of 'math.grade':", math_mean)

Mean of 'math.grade': 3.4143322475570033

In [ ]:
print("Median of 'math.grade':", math_median)

Median of 'math.grade': 3.5

In [ ]:
print("Standard Deviation of 'math.grade':", math_std)

Standard Deviation of 'math.grade': 0.47683919169989575

In [ ]:
print("School Type category count:\n", school_type_counts)

School Type category count:
 No 'School Type' column found.